body {
    background-color: black;
    color: lightgray;
    font-family: "Monospace";
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    color: red;
    transition: color 0.5s linear;
    font-family: "Monospace";
    font-size: 200px;
    margin: 0;
}

.button {
    display: flex;
    margin: auto;
    gap: 10px;
    padding-top: 100px;
}

.button a {
    border: 1px solid white;
    transition: background-color 0.3s;
    text-decoration: none;
    padding: 5px 10px;
    width: 100px;
    display: inline-block;
}

.button a:hover {
    background-color: rgb(50, 50, 50);
}

.discord {
    margin-top: auto;
}